DATABASE_URL="postgresql://postgres:postgres@localhost:5432/library?schema=public"
JWT_SECRET="supersecretkey"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
PORT=8080

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_AUTH_USER=user@example.com
SMTP_AUTH_PASS=xkeysib-...
SENDER_EMAIL=noreply@library.com
CLIENT_URL=http://localhost:3000
